{% extends "layout.html" %}
{% block content %}
<section class="page">
        <div class="page-head">
            <h2>Lectures</h2>
            <button id="create-post">Create a post</button>
        </div>
        <div id="posts"></div>
            <!-- create-post modal -->
        <div id="post-modal" class="modal hidden">
        <div class="modal-card">
                <h3>Create Post</h3>
                <form id="post-form">
                <input name="title" placeholder="Title" />
                <textarea name="caption" placeholder="Caption"></textarea>
                <input type="file" name="file" />
                <div class="modal-actions">
                <button type="submit">Publish</button>
                <button type="button" id="close-modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}